@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
}

@layer base {

  body {
    @apply bg-gradient-to-b
     from-stone-50 via-stone-100
      to-stone-300 min-h-screen text-[#242424]
      font-sans;
  }
}
@font-face {
  font-family: 'open-sans-hebrew';
  src: url('/fonts/OpenSansHebrew-Regular.ttf') format('ttf');
}

@layer components {
  /* Header */
  .header-link {
    @apply transition-colors duration-300 cursor-pointer p-2 rounded-full whitespace-nowrap hover:bg-gray-200;
  }
  .header-social-icon {
    @apply cursor-pointer transition-transform duration-200 hover:scale-125;
  }
  /* Under Hero */
  .under-hero-btn {
    @apply underline underline-offset-2 cursor-pointer transition-colors duration-200 hover:text-[#6c757d];
  }
  /* Side Menu */
  .side-menu-container {
    @apply md:hidden h-screen bg-gray-200 w-[280px] fixed top-0 left-0 transition-transform duration-300 shadow-2xl shadow-gray-400;
  }
  .side-menu-li {
    @apply px-4 py-2 border-b-2 border-gray-300 text-lg tracking-wide cursor-pointer hover:bg-gray-300;
  }
  /* Services */
  .service-container{
    @apply custom-shadow py-6 px-2 text-center relative flex flex-col gap-y-10;
  }
  .service-title {
    @apply font-bold text-[#495057] text-lg;
  }
  .service-description {
    @apply max-w-xs;
  }
  .service-link {
    @apply bg-[#ced0ce] px-4 py-2 w-max mx-auto font-bold text-[#343a40] tracking-wide transition-all duration-500 shadow-gray-400 hover:scale-110 hover:shadow-lg;
  }
  .service-img{
    @apply absolute left-1/2 transform -translate-x-1/2 drop-shadow-xl;
  }

  /* Contact Us */
  .contact-input {
    @apply px-4 py-2 rounded-md border-b-2 bg-[#ffffff95] outline-none focus:border-[#0582ca] focus:bg-stone-100 transition-colors duration-200;
  }

  /* Footer */
  .footer-social-icon {
    @apply bg-[#6c757d] h-12 w-12 rounded-full flex items-center justify-center transition-colors duration-200 cursor-pointer;
  }
  .footer-title{
    @apply text-center py-4 text-lg tracking-wider text-[#0582ca] whitespace-nowrap;
  }
  .footer-link {
    @apply flex items-center gap-x-2 leading-[2.2rem] cursor-pointer hover:text-[#0582ca];
  }
}

@layer utilities {
  .custom-shadow {
    box-shadow: 1px 10px 16px 3px #c1bebe;
}
.triangle-top {
  position: absolute;
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 40px solid #ced0ce; 
}
.triangle-bottom {
  position: absolute;
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 40px solid #ced0ce; 
}

}